dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.493);
}

dialog {
    margin: auto;
    padding: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .popup{
    position: absolute;
    margin: auto;
    padding: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    background: transparent;
    border: hidden;
  }

  .end1{
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
  }
  
  dialog p{
    background-color: white;
    position: absolute;
    top: 550px;
    left: 55px;
    border: 2px solid black;
    text-align: center;
    width: 1250px;
    padding: 50px;
    z-index: 1;
  }

  dialog #Rat_Neutral {
    position: absolute;
    top: 100px;
    left: 500px;
    z-index: 0;
  }

.dialogue {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  width: 1000px;
  z-index: 1;
  display: block;
  position: absolute;
  top: 500px;
  left: 200px;
  padding: 50px;
}

button {
  font-size: 1rem;
  padding: .5em;

  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  color: rgb(0, 0, 0);
}

button:hover {
  cursor: pointer;
}

.textbox {
  margin-top: 500px;
  z-index: 1;
  display:"block"
}

h1, h2, p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  margin-top: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

